version: '2.1'

jobs:
  analyze:
    docker:
      - image: 'cimg/openjdk:25.0'
    steps:
      - checkout
      - git-shallow-clone/checkout_advanced:
          clone_options: '--filter=blob:none'
      - run:
          name: "Git fetch"
          command: git fetch --no-filter --refetch
      - run:
          name: Analyze on SonarCloud
          command: mvn verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -DskipTests
  test:
    executor: machine_executor_amd64
    steps:
      - checkout
      - run:
          name: Maven Tests
          command: mvn test

orbs:
  maven: circleci/maven@2.1.1
  git-shallow-clone: guitarrapc/git-shallow-clone@2.8.0

executors:
  machine_executor_amd64:
    machine:
      image: ubuntu-2204:current
    environment:
      architecture: "amd64"
      platform: "linux/amd64"

workflows:
  maven_test:
    jobs:
      - test
      - analyze:
          context: SonarCloud
